.tile {
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  transition: transform 0.2s ease;
  background-image: url("../assets/dark\ texture.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
}

.tile:hover {
  transform: scale(1.03);
}

.tile-text {
  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  p {
    margin: 4px 0 0;
    font-size: 0.9rem;
    opacity: 0.85;
  }
}
